body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif;
    text-align: center;
}

header {
    background-color: gold;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: gold;
    padding: 10px;
	color: black;
}


a {
	color: black;
}

hr {
	color: gold;
	border: 1px solid gold;
	margin: 20px 0;
}

table {
	width: 100%;
	/* Set the table width to 100% of its container */
    border-collapse: collapse;
	/* Remove any spacing between table cells */
}

 td {
    text-align: center; 
	/* Center the content horizontally */
    vertical-align: middle;
	/* Center the content vertically */
    padding: 10px;
	/* Add padding for better appearance */
 }
 
 