.offers {
    background-color: var(--clr-main);
    text-align: center;
    border-radius: 25px;
}

.offers article {
}

.offers .card-list a {
    position: relative;
}

.offers img {
    border-radius: 25px;
}