#menu-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.menu-item {
    border: 1px solid var(--clr-2nd);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}
.menu-item-image {
    width: 100%;
    height: 200px;
    object-fit:contain;
}
.menu-item-details {
    background-color: var(--clr-3rd);
    padding: 10px;
    text-align: left;
}

@media (width < 300px) {
    .menu-item-details {
        text-align: center;
    }
    
}

/* .menu-item-details h2 {
}

.menu-item-details .price {
    text-align: left;
}

.menu-item-details .ingredients {
    text-align: left;
} */
