/* 
 * FITlicioud Co.
 * 
 * Website Design: Styling.
 */

/* Reset Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Root/Application Defauls */
:root {
    /* Colors */
    --clr-b : black;
    --clr-w : white;
    /* Application Colors */
    --clr-main: rgb(62, 62, 62);
    --clr-2nd: gold;
    --clr-3rd: rgb(255, 166, 0);
    /* debugging Colors */
    --test: lime;
    --err: red;
    /* Fonts */
    --fnt-xs: 0.5rem;
    --fnt-s: 0.8rem;
    --fnt-m: 1rem;
    --fnt-l: 1.5rem;
    --fnt-xl: 1.8rem;
    --fnt-xxl: 2rem;

}

/* social link thubnails/logos */
.socials img {
    width: 30px;
    height: 30px;
}

/* header */
header {
    padding: 20px;
    text-align: center;
}
/* Address */
.address {
    top: 2%;
    left: 2%;
    position: fixed;

    color: var(--clr-3rd);

}
/* Logo Default position. */
.logo-head {
    width: 70px;
    height: 70px;
    
    position: fixed;
    top: 2%;
    right: 2%;

    background-image: url("../data/images/logo_black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}


/*Navigation */
nav {
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0px;
    color: var(--clr-3rd);
    transition: all 0.5s ease; 
    border-radius: 5px;
    /* 
    border: 2px solid var(--clr-3rd);
    */
}

nav a:hover {
    background-color: var(--clr-3rd);
    color: var(--clr-b);
    border: 2px solid var(--clr-w);
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--clr-main);

    /* background-image: var("./static/data/images/logo_black.png"); */
}

/* Hyperlinks interaction */
a {
    color: var(--clr-3rd);
}

a:hover {
    color: var(--clr-2nd);

}

/* Default Buttons */
button {
    padding: 5px;
    border-radius: 5px;
    font-size: var(--fnt-xs);
}

button:hover {
    color: var(--clr-b);
    font-size: var(--fnt-s);
    font-weight: bold;
    box-shadow: 0 15px 45px var(--clr-w);
    transition: .25s ease-in-out;
    background-color: var(--clr-3rd);
}


/* 
 * Footer
 */

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.footer-elements {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.socials {
    width: 35%;
    padding: 8pt;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 20px 1px;
    border-radius: 25px;
    
}

.reservedrights {
    box-shadow: 0 8px 20px ;
    border-radius: 25px;
    border: 2px inset var(--clr-b);
    padding: 9pt;    
    background-color: var(--clr-w);
    font-weight: bold;
}

/* Responsive Design */
/* Large Screens */
@media (width < 500px) {
    body {
        font-size: var(--fnt-s);
    }

    nav {
        font-size: var(--fnt-s);
    }

    footer {
        font-size: var(--fnt-xs);
    }

    /* social link thubnails/logos */
    .socials img {
        width: 15px;
        height: 15px;
    }
}
