/* 
 * FITlicioud Co.
 * 
 * Website Design: Styling.
 */

/* Reset Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Root/Application Defauls */
:root {
    /* Colors */
    --clr-b : black;
    --clr-w : white;
    /* Application Colors */
    --clr-main: rgb(102, 100, 100);
    --clr-2nd: gold;
    --clr-3rd: rgb(255, 166, 0);
    /* debugging Colors */
    --test: lime;
    --err: red;
    /* Fonts */
}

/* social link thubnails/logos */
.socials img {
    width: 30px;
    height: 30px;
}

/* header */
header {
    text-align: center;
}

.logo-head {
    width: 100px;
    height: 100px;
    
    position: fixed;
    top: 2%;
    left: 2%;

    background-image: url("../data/images/logo_black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}
/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--clr-main);

    /* background-image: var("./static/data/images/logo_black.png"); */
}

/* Hyperlinks interaction */
a {
    color: var(--clr-3rd);
}

a:hover {
    color: var(--clr-2nd);

}
/* 
 * Footer
 */

footer {
    width: 100%;
    text-align: center;
    
    
    position: sticky;
    bottom: 0;
    
}

.footer-elements {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.socials {
    width: 35%;
    padding: 10pt;
    display: flex;
    justify-content: space-between;
}

.reservedrights {
    border: 3px inset var(--clr-b);
    padding: 5pt;    
    background-color: var(--clr-3rd);
    font-weight: bold;
}