/* Media Queries */

/* Small devices (phones) */
@media (width < 500px) {
    body {
        font-size: var(--fnt-S);
    }

   
    
    .nav-list {
        font-size: var(--fnt-XS);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-black);
    }

    .logo {
        margin-left: 1rem;
        margin-top: 0.5rem;
        background-image: url('../../images/logo-black.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;    
    }

    .img-logo {
        width: 100%;
        min-height: 350px;
        background-image: url(../../images/favicon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .def-divx2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s ease-in;
    }

    .def-div {
        padding: 15px;
        border: 3px solid;
      }
}

/* Medium devices (tablets)
@media (min-width: 577px) and (max-width: 768px) {
} */

/* Large devices (desktops) */
@media (width > 500px) {

    body {
        font-size: var(--fnt-M);
    }
    .nav-div {
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 5px solid;
        border-bottom-left-radius: 25px;
    }
    .nav-list {
        font-size: var(--fnt-S);
    }
    
    .logo {
        /* width: 200%; */
        margin-left: 1rem;
        margin-top: 0.5rem;
        background-image: url('../../images/logo-white.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;  
    }

    .logo-4x4 {
        height: 200px;
        background-color: var(--clr2-main);
        border-radius: 25px;

    }

    .def-divx2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        transition: 1s ease-out;
    }



    .def-div {
        padding: 15px;
        gap: 2rem;
        display: flex;
        transition: 1s ease-in;
      }



    .grid .menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        font-size: var(--fnt-M);
    }

    .bg-img {
        opacity: 1;
        background-image: url(../../images/No_under_eighteen.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--clr2-main);
        animation: hider 1s ease-in-out;
    }
}


@keyframes hider {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}